<html>
    <head>
        <title>Payment and Refund Policy - acnodelabs.com</title>
    </head>
    <body>
    <h1>PAYMENT AND REFUND POLICY</h1>
<h2>Professional services</h2>
<p>Acnodelabs warrants that for thirty (30) days after the performance of Professional Services for customers provided under a statement of work, such Professional Services were performed in a proper and professional manner consistent with industry standards.&nbsp;Otherwise, such Professional Services are provided by Acnodelabs &ldquo;as is&rdquo;.&nbsp;Once requested by you, Acnodelabs will charge your account or credit card the amount agreed upon under the executed contract, or as otherwise agreed upon by the parties. If a project is delayed at the request of the client, due to the client&rsquo;s internal processes, Acnodelabs will not be responsible for any costs incurred by this delay, any fees or damages will stand with the client unless agreed in writing at the time or delay by the client. For more detailed information, please reference the &ldquo;Warranties and Disclaimers&rdquo; of your EULA/SLA issued with licence.</p>
<h2>Hardware, software and software maintenance and support services</h2>
<p>Acnodelabs does not offer any refund for hardware, software, maintenance and support services once agreed by the customer, annual fees which are passed an anniversary date of the EULA. Acnodelabs will charge your account or credit card the amount agreed upon under the executed agreement, or as otherwise agreed upon by the parties. For more detailed information, please reference the Warranties and Disclaimer of Warranties section of your EULA/SLA issued with licence.</p>
<h2>Training and services:</h2>
<p>Customer reservations which are canceled thirty (30) or more days before the start of the workshop will be refunded, in their entirety.Customer reservations which are canceled fourteen to thirty (14-30) days from the beginning of the workshop, consultancy or training will be refunded, by fifty percent (50%) of the registration fee.&nbsp;No refund is offered for any cancellations within two (2) weeks of the start of the workshop.</p>
<p>&nbsp;</p>
<p><strong>Note:</strong>&nbsp;We reserve the right to change this payment, refunds policy terms and conditions at any time. Any such changes will take effect when posted on the website.</p>
<p>&nbsp;</p>
<p><a href="https://acnodelabs.com/wp/index.html">&lt;&lt;&nbsp;acnodelabs.com</a></p>
</body>
</html>